<div class="row">
    <div class="col-sm-3">
        <img src="" alt="" id="userAvatar" width="100%">
        <form action="/updateUserAvatar" enctype="multipart/form-data" method="post">
            <input type="file" name="userFile">
            <input type="submit" value="сохранить">
        </form>
    </div>
    <div class="col-sm-9">
        <p>id: <span id="userId"></span></p>
        <p>Name: <span id="userName"></span></p>
        <p>Lastname: <span id="userLastname"></span></p>
        <p>E-mail: <span id="userEmail"></span></p>
    </div>
</div>


<script >
    let userAvatar=document.getElementById('userAvatar');
    let userId=document.getElementById('userId');
    let userName=document.getElementById('userName');
    let userLastname=document.getElementById('userLastname');
    let userEmail=document.getElementById('userEmail')
    //let container=document.getElementById('container');

    fetch('/getAuthUserData')
        .then(response=>response.json())
        .then(result=>{
            console.log(result);
            userAvatar.src=result.img;
            userId.innerText=result.id;
            userName.innerText=result.name;
            userLastname.innerText=result.lastname;
            userEmail.innerText=result.email;
        })
            
</script>
                